<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()"
  style="width: 100%;">
<ion-list>
  <ion-list-header>
    <ion-label style="font-size: 2rem;text-align: center">Lista Usuarios</ion-label>
  </ion-list-header>
  <ion-item *ngFor="let item of listaUsuarios" style="margin-top: 20px;">
    <ion-toolbar>
      <ion-avatar slot="start">
        <img [src]="item.photo">
      </ion-avatar>
      <ion-title>{{item.username}}</ion-title>  
      
      <ion-buttons slot="primary">
        <ion-button color="danger" fill="outline" (click)="Eliminar_Usuario(item.id)">
          Delete
          <ion-icon name="trash-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-item>
  
</ion-list>
</ion-content>